// #logo {
//   height: 5vh; 
//   padding: 3%;         
// }
img {
   height: 12vh;
   margin-top: 2vh ;
}
.nav-link {
   color:#d1a146 ;
   font-weight: 500 ;
   font-size: 3.5vh ;                             
 }
.nav-link:hover {
   color:white !important;
   background-color:#d1a146 !important;
 }
.navbar {
   justify-content: center !important;
}
