img {
   width: 27%;
   height: 27%;
   margin-top: 1% ;
}
.nav-link {
   color:#d1a146 ;
   font-weight: 500 ;
   font-size: 170% ;                             
 }
.nav-link:hover {
   color:white !important;
   background-color:#d1a146 !important;
 }
.navbar {
   justify-content: center !important;
}
