.card-text{
   color:#d1a146;               
}
.card-body{
   border: 1.5px solid #24227e;
   text-align: center;
   width: 100%;
   // flex: none;
  // font-weight: 540;
}
.card-title {
   // font-weight: 550;
}  
#buttons {
    height: 10vh;
    width: 74%; 
    //padding: 2%; 
    //justify-content: center !important;   
    //align-items: center;         
}
#list {
  // margin-left: 10vw; 
   // width: 100%;            
}   
.card-columns {
   // column-count: 2;
}          
