#button {
      margin-right:38%;
}
#bt {
      margin-top:15%;
      margin-right:40%;
}
#dropdown-basic-button1 {
      box-shadow: none;
      border-color: #24227e;
      background-color:#24227e;
      color: #d1a146;  
      margin: 3%;
      float: right;    
    }
    #dropdown-basic-button1:focus {
      box-shadow: none;
      border-color: #24227e;
    }
