#button {
      height: 20%;
      width: 58%; 
}
#match {
      margin: 6%;
      margin-left: 37%;
      position: absolute;
}
#cancel {
      margin: 6%;
      margin-left: 31%;
      position: absolute;
}

